@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
/* light */
@font-face {
  font-family: Lemon-milk;
  font-weight: 200;
  src: url("LemonMilkLight-owxMq.otf") format("opentype");
}
@font-face {
  font-family: Lemon-milk;
  font-weight: 200;
  font-style: italic; 
  src: url("LemonMilkLightItalic-7BjPE.otf") format("opentype");
}
/* regular */
@font-face {
  font-family: Lemon-milk;
  font-weight: 300;
  src: url("LemonMilkRegular-X3XE2.otf") format("opentype");
}
@font-face {
  font-family: Lemon-milk;
  font-weight: 300;
  font-style: italic; 
  src: url("LemonMilkRegularItalic-L3AEy.otf") format("opentype");
}
/* medium */
@font-face {
  font-family: Lemon-milk;
  font-weight: 400;
  src: url("LemonMilkMedium-mLZYV.otf") format("opentype");
}
@font-face {
  font-family: Lemon-milk;
  font-weight: 400;
  font-style: italic; 
  src: url("LemonMilkMediumItalic-d95nl.otf") format("opentype");
}
* {
    margin: 0;
    padding:0; 
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
:-webkit-scrollbar {
    display: none;
  }
  html {
    scroll-behavior: smooth;
  }
  .main{
    z-index: 2; 
    position:relative; 
  }
  #myCanvas{
    position: fixed; 
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    z-index: 0; 
    overflow: hidden; 
  }
 section{
height: 96vh; 
/* border: 3px solid orange;  */
position: relative; 
overflow: hidden; 
padding: 7% 5%; 
 }
 /******************************** BUTTONS ****************************/
button{
  border: none ;
outline: none;
-webkit-appearance: none; 
 -moz-appearance: none; 
 font: inherit;
  color: inherit;
  background-color: transparent;
}
button:hover{
  cursor: pointer; 
}
 .downArrow{
   width: 50px; 
   height: 50px; 
   margin: 0px auto; 
   position: absolute; 
   bottom:2%; 
   left: calc(50vw - 30px); 
 }
  /******************************** GENERAL TYPE ****************************/
 h1, h2, h3, h4, h5, h6, h7{
color: #F9ECDC; 
font-family: 'Lemon-milk'; 
font-weight: 400; 
}
h4{
  font-size: 18px; 
}
a{
color: #0F6F84; 
font-family: 'Lemon-milk'; 
font-weight: 400; 
size: 12px; 
}
p{
  font-family: 'EB Garamond', serif;
  color: #F9ECDC; 
  size: 10px; 
}
 /******************************** NAVS****************************/
 .nav{
   width: 100vw; 
   height: 4vh; 
    top: 0%; 
    left: 0%; 
    background-color: #F9ECDC; 
    z-index: 12; 
    overflow: hidden;  
    display: flex; 
    justify-content: space-between;  
    padding: 0px 30px; 
    min-height: 40px; 

 }
 .navItem{
   height: 4vh; 
   position: relative; 
   display: flex; 
   align-items: center;
   align-self: center; 
   text-align: center; 
 }
 .navItem img{
   padding: 5px; 
  height: 100%; 
width: inherit; 
 }
 #TopNav{
   position: sticky; 
 }

 /********************************TITLE SCREEN ****************************/
#TitleScreen{
  /* border: 1px solid red;  */
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  height: 100vh; 
}
#titleTxt{
  margin-bottom: 100px; 
}
#titleTxt h1{
  font-size: 100px; 
  font-weight: 300; 
}
#titleTxt h2{
  font-size: 90px; 
  font-weight: 300; 
}
#TitleScreen h4{
  font: 24px; 
  line-height: 150%; 
  letter-spacing: 1px; 
}
 /******************************** LUCIEN MAP****************************/
 #ClimateMaps,#interactive, #sliderBar, #scenarios, #topSLR, #year{
  display: flex; 
  justify-content: space-between;
}
 #ClimateMaps{
background-color: #1292AF; 
 }
 .TISLR1{
   width: 42%; 
   display: flex; 
   flex-direction: column; 
   /* border: 1px solid red;  */
   justify-content: space-between; 
 }
 .TISLR1 p{
   margin-bottom: 12px; 
 }
 #ClimateMaps h2{
   font-size: 54px;
   font-weight: 200;
   margin-bottom: 20px; 
 }
 #ClimateMaps h3{
  font-weight: 300;
  font-size: 24px; 
  font-style: italic; 
  margin-bottom: 40px; 
 }
 #ClimateMaps h4{
   font-size: 24px; 
 }
 #ClimateMaps span{
  font-style: italic; 
  border-bottom: 3px solid #F9ECDC; 
 }
 #ClimateMaps h5{
color: #0F6F84; 
text-align: right;
padding-right: 10px; 
width: 25%; 
 }
 #ClimateMaps h6{
  color: #4CCDEA; 
font-weight: 200; 
font-size: 14px; 
  }
  #ClimateMaps h7{
    font-size: 12px; 
  }
 #interactive{
  align-items: center; 
  position: absolute; 
  width: 100%; 
  height: 100px; 
  /* border: 1px solid blue;  */
 }
 .modelShifter{
  position: relative; 
  width: 100%; 
  /* border: 1px solid purple;  */
 }
 #scenarios{
  margin-bottom: 20px; 
  justify-items: right;
  width: 100%; 
  justify-content: flex-end; 
  /* border: 1px solid purple;  */
}
.scenario{
  padding: 5px 8px; 
  margin: 0px 10px; 
}
.selected{
 background-color:#0F6F84; 
 box-shadow:0px 4px 4px #0F6F84;
}
 #sliderBar{
  flex-direction: column; 
  /* border: 1px solid red;  */
  text-align: center; 
  width: 70%; 
 height: 100%;
}
#sliderRect{
  height: 15px; 
  width: calc(70% - 20px);
  position: absolute; 
  top: 40px; 
 margin: 0px 10px; 
  background-color: #0F6F84; 
  box-shadow: inset 4px 4px 4px rgba(0,0,0,0.25);
}
.sliderRectEND{
 border-radius: 50%; 
 height: 15px; 
 width: 15px; 
 background-color: #0F6F84; 
 position: absolute; 
 top: 40px; 
}
#end{
right: 0%; 
}
 .circle{
   width: 15px; 
   height: 15px; 
   position: absolute; 
  border-radius: 50%; 
  top: 40px; 
  background-color:none;
  border: 2px solid #4CCDEA; 
 }
 .circle.circle:nth-child(2n){
   left: 63%; 
 }
 .circle:nth-child(3n){
   right: 0%; 
 }
 .currentCirc{
   border: 0px; 
   background-color: #F9ECDC
 }

 #yrSelected h6{
   color: #F9ECDC;
 }
 .TISLR2{
  width: 50%; 
  height: 100%; 
flex-direction: column; 
position: absolute; 
left: 50%; 
}
.nAdMap, .adMap{
  position: absolute ;
  top: (0% + 150px); 
  left: 0%; 
  width: 100%; 
}
.nAdMap img, .adMap img{
  width: 100%; 
}
 .floodmap{
   position: absolute ;
   /* top: 0% ;  */
   left: 0%; 
   width: 100%; 
   z-index: 10; 
 }
 .adMap{
  top: (0% + 150px); 
 }
 .nAdMap {
   top: 50%; 
   /* border: 2px solid red;  */
 }

 #loading {
position: absolute; 
top: 35%; 

 }
 #loading h1,  #loading h2{
  color: #0F6F84; 
 }